<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('static-files') %>
    <link rel="stylesheet" href="/styles/books.css" />
    <link rel="stylesheet" href="/styles/card.css" />
    <title>Inventory</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="cards-section">
        <h1 class="book-list-heading">Books List</h1>
        <div class="cards-container">
          <% if(books.length === 0) { %>
          <h2>No books Found</h2>
          <% } else{ %> <% books.forEach((book) => { %> <%- include('card',
          {book: book}) %> <% }) %> <%} %>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
