<div class="card">
  <img src="/images/book-cover.svg" alt="" />
  <div class="book-details">
    <h3>
      <%= book.name %> |
      <span class="genres-in-card"><%= book.genre_name %></span>
    </h3>
    <p class="bottom-border"><%= book.author %> | <%= book.published_date %></p>
    <p class="above-border"><%= book.description %></p>
    <div class="card-buttons">
      <button type="button" class="card-edit-button"></button>
    </div>
  </div>
</div>
