<div class="card">
  <img src="/images/book-cover.svg" alt="" />
  <div class="book-details">
    <h3>
      <%= book.book_name %> |
      <span class="genres-in-card"><%= book.genre %></span>
    </h3>
    <p><%= book.author %> | <%= book.published_date %></p>
    <p><%= book.description %></p>
  </div>
</div>
