<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('static-files') %>
    <link rel="stylesheet" href="/styles/genre-page.css" />
    <title>Inventory</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="genre-page-section">
        <h1>Genres</h1>
        <form action="" method="GET" id="genre-filter-form">
          <h3>Filter</h3>
          <div class="filter-genres">
            <% genres.forEach((genre) => {%> <%- include('genre-option',
            {genre}) %> <% }) %>
          </div>
          <h3>Order By</h3>
          <div class="sorting-options-div">
            <div>
              <input
                type="radio"
                name="sort"
                id="title-asc"
                checked
                value="title-asc"
              />
              <label for="title-asc">Title A-Z</label>
            </div>
            <div>
              <input
                type="radio"
                name="sort"
                id="title-desc"
                value="title-desc"
              />
              <label for="title-desc">Title Z-A</label>
            </div>
            <div>
              <input type="radio" name="sort" id="oldest" value="oldest" />
              <label for="oldest">Oldest</label>
            </div>
            <div>
              <input type="radio" name="sort" id="newest" value="newest" />
              <label for="newest">Newest</label>
            </div>
          </div>
          <div class="form-apply-button">
            <button type="submit">Apply Filters</button>
          </div>
        </form>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
