<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('static-files') %>
    <link rel="stylesheet" href="/styles/genre-page.css" />
    <link rel="stylesheet" href="/styles/card.css" />
    <title>Inventory</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="genre-page-section">
        <h1>Genres</h1>
        <form action="" method="GET" id="genre-filter-form">
          <h3>Filter</h3>
          <div class="filter-genres">
            <% genres.forEach((genre) => {%> <%- include('genre-option',
            {genre}) %> <% }) %>
          </div>
          <h3>Order By</h3>
          <div class="sorting-options-div">
            <div>
              <input
                type="radio"
                name="sort"
                id="title-asc"
                checked
                value="name ASC"
              />
              <label for="title-asc">Title A-Z</label>
            </div>
            <div>
              <input
                type="radio"
                name="sort"
                id="title-desc"
                value="name DESC"
              />
              <label for="title-desc">Title Z-A</label>
            </div>
            <div>
              <input
                type="radio"
                name="sort"
                id="oldest"
                value="published_date ASC"
              />
              <label for="oldest">Oldest</label>
            </div>
            <div>
              <input
                type="radio"
                name="sort"
                id="newest"
                value="published_date DESC"
              />
              <label for="newest">Newest</label>
            </div>
          </div>
          <div class="form-apply-button">
            <button type="submit">Apply Filters</button>
          </div>
        </form>
        <div>
          <h3>Books</h3>
          <% if(books.length === 0) {%>
          <h4>
            <b style="color: yellow"
              ><em>No books Found ! Make sure you selected a genre</em></b
            >
          </h4>

          <% } %> <% books.forEach((book) => { %> <%- include('card',{book:
          book} ) %> <% }) %>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
