<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <%- include('static-files') %>
    <script src="/scripts/homepage.js" defer></script>
    <title>Inventory</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="homepage-container">
      <%- include('sidebar') %>
      <section class="main-section">
        <div class="main-section-logo">
          <img src="/images/inventory.png" alt="Inventory logo" />
          <h1>Inventory Application</h1>
        </div>
        <div class="routes">
          <div id="all-books">
            <img src="/images/books.png" alt="books icon" />
            <h2><%= books.length %> Books</h2>
          </div>
          <div id="genres">
            <img src="/images/genres.png" alt="Genres Icon" />
            <h2><%= genres.length%> Genres</h2>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
