<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/newbook.css" />
    <%- include('static-files') %>
    <title>Add New Book</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="new-book-form-section">
        <div class="new-book-form-container">
          <h3>New Book</h3>
          <form action="/books/add" method="POST" class="add-new-book-form">
            <div class="left-container">
              <% if(errors){ %>
              <ul style="color: red">
                <% errors.forEach((error) => { %>

                <li><%= error.msg %></li>

                <%}) %>
              </ul>
              <% } %>

              <div>
                <label for="name"
                  >Title <span class="input-required">*</span></label
                ><input
                  type="text"
                  id="name"
                  name="name"
                  required
                  value=" <%= prevFormData ? prevFormData.name : '' %>"
                />
              </div>
              <div>
                <label for="author"
                  >Author <span class="input-required">*</span></label
                ><input
                  type="text"
                  id="author"
                  name="author"
                  required
                  value="<%= prevFormData ? prevFormData.author : '' %>"
                />
              </div>
              <div>
                <label for="date"
                  >Published Date <span class="input-required">*</span></label
                ><input
                  type="date"
                  name="published_date"
                  id="date"
                  required
                  value="<%= prevFormData ? prevFormData.published_date : '' %>"
                />
              </div>
              <div>
                <label for="genre_label"
                  >Genre <span class="input-required">*</span></label
                ><select name="genre_id" id="genre_label" required>
                  <% genres.forEach((genre,index) => { %> <%-
                  include('genre-select-options', {genre:genre, bookGenreId:
                  prevFormData.genre_id }) %> <% }) %>
                </select>
              </div>
            </div>
            <div class="description-container">
              <label for="description" class="description-label"
                >Description</label
              >
              <textarea
                name="description"
                id="description"
                style="resize: none"
              >
 <%= prevFormData ? prevFormData.description : '' %> </textarea
              >
            </div>
            <div class="form-submit-section">
              <button type="submit" class="form-submit-button">Create</button>
              <button type="reset" class="form-reset-button">Cancel</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
