<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('static-files') %>
    <title>Update Book</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('sidebar') %>
      <section class="update-book-section">
        <div class="update-book-form-container">
          <h3>Update Book Info : <%= %></h3>
          <form
            action="/books/update/<%= bookData.id %>"
            method="POST"
            class="update-book-form"
          >
            <div class="left-container">
              <% if(errors){ %>
              <ul style="color: red">
                <% errors.forEach((error) => { %>

                <li><%= error.msg %></li>

                <%}) %>
              </ul>
              <% } %>

              <div>
                <label for="name"
                  >Title <span class="input-required">*</span></label
                ><input
                  type="text"
                  id="name"
                  name="name"
                  required
                  value=" <%= bookData ? bookData.name : '' %>"
                />
              </div>
              <div>
                <label for="author"
                  >Author <span class="input-required">*</span></label
                ><input
                  type="text"
                  id="author"
                  name="author"
                  required
                  value="<%= bookData ? bookData.author : '' %>"
                />
              </div>
              <div>
                <label for="date"
                  >Published Date <span class="input-required">*</span></label
                ><input
                  type="date"
                  name="published_date"
                  id="date"
                  required
                  value="<%= bookData ? bookData.published_date : '' %>"
                />
              </div>
              <div>
                <label for="genre_label"
                  >Genre <span class="input-required">*</span></label
                ><select name="genre_value" id="genre_label" required>
                  <% genres.forEach((genre,index) => { %> <%-
                  include('genre-select-options', {genre:genre, index:index,
                  preGenreValue : bookData ? bookData.genre_id : false }) %> <%
                  }) %>
                </select>
              </div>
            </div>
            <div class="description-container">
              <label for="description">Description</label>
              <textarea
                name="description"
                id="description"
                style="resize: none"
              >
 <%= bookData ? bookData.description : '' %> </textarea
              >
            </div>
            <div class="form-submit-section">
              <button type="submit" class="form-submit-button">Create</button>
              <button type="reset" class="form-reset-button">Cancel</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
